In [1]:
import pandas as pd

### 데이터 통합

In [ ]:
# 전체 116개 통합하기
# 통합에 사용할 데이터프레임 변수명 : df
# 전체 통합 후 조회
# 201001 ~ 201908

In [5]:
df = pd.DataFrame()
ym = []
ym2 = []

for x in range(2010,2020) :
    for y in range(1, 13) :
        ym_a = str(x)+str(y).zfill(2)
        ym_b = str(x)+'-'+str(y).zfill(2)
        ym.append(ym_a)
        ym2.append(ym_b)
        if ym_a =='201908' :
            break


for k in range(0, len(ym)) :
    kto = pd.read_excel('./files/kto_{}.xlsx'.format(ym[k]), header=1, skipfooter=4, usecols='A:G')
    
    kto['기준년월'] = ym2[k]

    continents_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
    kto_country = kto[kto['국적'].isin(continents_list) == False]

    continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 +\
                 ['오세아니아']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']

    kto_country = kto_country.reset_index(drop=True)

    kto_country['대륙'] = continents

    kto_country['관광객비율(%)'] = round((kto_country['관광'] /kto_country['계'])*100, 1)

    kto_country['전체비율(%)'] = round((kto_country['관광'] / kto_country['관광'].sum()) * 100, 1)

    df = pd.concat([df, kto_country], ignore_index=True)

df

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,오세아니아,85.2,0.0
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,33.6,0.1
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,42.8,0.2
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,63.2,0.0
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.0,0.0

### solution

In [6]:
df = pd.DataFrame()

for y in range(2010, 2020, 1) :
    for m in range(1, 13, 1) :
        #예외처리(201909~)
        try :
        
            # 파일 처리
            file_name = str(y) + str(m).zfill(2)
            file_path = './files/kto_{}.xlsx'.format(file_name)
            kto = pd.read_excel(file_path, header=1, skipfooter=4, usecols='A:G')

            kto['기준년월'] = str(y)+'-'+str(m).zfill(2)


            continents_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
            kto_country = kto[kto['국적'].isin(continents_list) == False]

            continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 +\
                         ['오세아니아']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']
            
            kto_country = kto_country.reset_index(drop=True) ##

            kto_country['대륙'] = continents

            kto_country['관광객비율(%)'] = round((kto_country['관광'] /kto_country['계'])*100, 1)

            kto_country['전체비율(%)'] = round((kto_country['관광'] / kto_country['관광'].sum()) * 100, 1)

            df = pd.concat([df, kto_country], ignore_index=True)
            
        except :
            pass
df

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,오세아니아,85.2,0.0
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,33.6,0.1
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,42.8,0.2
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,63.2,0.0
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.0,0.0

In [7]:
df.to_excel('./files/kto_total.xlsx', index=False)